.topnav{
background-color: darkblue;
	overflow: hidden;
	width: 1700px;
	height: 50px;
	word-spacing: 200px;
	font-size: 30px; 
}
a{
	text-decoration: none;
	color: lightgreen;
}
.menu{
	color: darkblue;
}
p{
	font-family: italic;
}
h4{
	color: darkred;
}